#patientDetail {
    max-width: 1280px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 200px;
}

.patientDetailContainer {
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    padding: 40px 20px;
    padding-top: 10px;
    gap: 20px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    z-index: 1;
}

.patientDetailBlock{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;
}

.patientDetailBlock>div:nth-child(2){
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.patientDetailBlock>div:nth-child(2)>h3{
    color: #000000;
    font-family: Manrope;
    font-size: 32px;
    font-weight: 400;
}

.patientData1{
    background-color: #82cbff41;
    padding: 10px;
    border-radius: 10px;
}

.patientData1>span{
    font-family: Manrope;
    font-size: 16px;
    color: royalblue;
}

.patientData2{
    background-color: #82cbff41;
    padding: 10px;
    border-radius: 10px;
}

.patientData2>span{
    font-family: Manrope;
    font-size: 16px;
    color: royalblue;
}

.patientDetailContainer h4{
    color: rgb(0, 0, 0);
    font-family: Manrope;
    line-height: 1.2;
    font-size: 16px;
    font-weight: 500;
}

.patientDetailContainer h4 span{
    color: royalblue;
    font-size: 20px;
}

.d4{
    padding: 15px;
    padding-top: 10px;
    border-radius: 8px;
    background-color: #82cbff41;
}

.polzunok{
    position: relative;
    margin-bottom: 5px;
}

.patientData4{
    display: flex;
    justify-content: space-between;
}

.patientData5{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.patientData5>p{
    font-family: Manrope;
    font-size: 15px;
}

.patientData5>button{
    width: 180px;
    height: 35px;
    background: transparent;
    border: 2px solid rgb(1, 213, 1);
    color: rgb(1, 213, 1);
    font-family: Manrope;
    border-radius: 6px;
    cursor: pointer;
    transition: .2s;
}

.patientData5>button:hover{
    background-color: rgb(1, 213, 1);
    color: white;
}

.pddf{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.showDocsButton {
    margin-top: 0 auto;
    padding: 10px 15px;
    background: rgba(0, 0, 0, 0.152);
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    border-radius: 6px;
    font-size: 16px;
    transition: 0.3s;
    font-family: Manrope;
}

.showDocsButton:hover{
    background: rgba(0, 0, 0, 0.355);
    color: white;

}

.documentsContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
    flex-wrap: wrap;
}

#pdfThumbnail {
    width: 200px;
    height: 250px;
    border-radius: 8px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.594);
}

#pdfThumbnail:hover{
    transform: scale(1.05);
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    top: 0;
    left: 0;
    position: fixed;
}

.enlargedImage {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.imgBlock>img {
    width: 100%;
    height: 280px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.385);
}

.imgBlock div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 10px;
    gap: 10px;
}

.imgBlock div img{
    width: 100%;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    transition: 0.05s;
}

.imgBlock div img:hover{
    outline: 1.5px solid royalblue;
}

@media(max-width:1000px){
    #patientDetail{
        margin-top: 150px;
    }
}

@media(max-width:760px){
    .patientDetailBlock{
        grid-template-columns: 1fr;
    }
    
}

@media(max-width:550px){
    #pdfThumbnail {
        width: 45%;
        height: auto;
    }

    .patientDetailBlock>div:nth-child(2)>h3{
        font-size: 24px;
    }
}