.WhoHelpContainer{
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
}

.whoHelpBlock>div:nth-child(1){
    width: 100%;
    height: 200px;
}

.whoHelpBlock>div:nth-child(1)>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.helpBlocks{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px 20px;
    margin-top: 20px;
}

.whoHelpBlock{
    width: 300px;
    height: 550px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    position: relative;
}

.WhoHelpContainer>h2{
    font-family: Manrope;
    font-size: 35px;
    color: rgb(0, 53, 139);
    line-height: 1;
}

.whoHelpBlock>div:nth-child(2){
    max-width: 230px;
    width: 100%;
    max-height: 300px;
    height: 300px;
    padding: 5px 0;
    box-shadow: 0px 0px 10px rgb(0, 29, 124);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    z-index: 1;
    position: absolute;
    top: 40%;
    background-color: white;
}

.whoHelpBlock>div:nth-child(2)>h3{
    font-family: Manrope;
    font-size: 17px;
    color: black;
}

.whoHelpBlock>div:nth-child(2)>p{
    font-family: Manrope;
    font-size: 12px;
    color: rgb(60, 60, 60);
    margin-left: 7px;
}

.whoHelpBlock2{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.whoHelpBlock2>h4{
    font-family: Manrope;
    font-size: 14px;
    font-weight: 100;
    color: rgb(81, 81, 81);
    margin-left: 7px;
    align-self: center;
}

.whoHelpBlock2>div{
    padding:2px 10px;
    padding-left: 15px;
    font-family: Manrope;
    font-size: 15px;
    background-color: rgb(205, 205, 205);
    display: flex;
    align-items: center;
    justify-content: end;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.whoHelpBlock>:nth-child(2)>button{
    max-width: 150px;
    width: 100%;
    height: 35px;
    margin-top: 5px;
    border-radius: 20px;
    border: none;
    display: flex;
    align-items: center;
    gap: 5px;
    background: linear-gradient(45deg, rgb(0, 174, 255) , rgb(0, 38, 255));
    color: white;
    cursor: pointer;
}


.whoHelpBlock>:nth-child(2)>button>img{
    width: 30px;
    background-color: rgb(111, 190, 255);
    border-radius: 50px;
}

.Polzunok {
    width: 100%;
    margin: 10px 0;
}

progress {
    width: 100%;
    height: 10px;
    border-radius: 5px;
    appearance: none;
}

progress::-webkit-progress-bar {
    background: #ddd;
}

progress::-webkit-progress-value {
    background: linear-gradient(to right, #7bd4fe , #013ec4);
    border-radius: 5px;
}

progress::-moz-progress-bar {
    background: linear-gradient(to right, rgb(0, 12, 139), #7bc1fe);
    border-radius: 5px;
}


.info{
    color: #013ec4;
    font-family: Manrope;
    font-size: 13px;
    text-decoration: underline;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 5px;
    margin-top: 5px;
}

@media(max-width:690px){
    .WhoHelpContainer>h2{
        font-size: 30px;
    }

    .whoHelpBlock{
        width: 48%;
    }

    .helpBlocks{
        gap: 10px;
    }
}

@media(max-width:590px){

    .whoHelpBlock2{
        flex-direction: column;
    }

    .whoHelpBlock2>h4{
        font-size: 12px;
        align-self: start;
    }

    .whoHelpBlock2>div{
        font-size: 13px;
        max-width: 100px;
        align-self: flex-end;
    }

    .Polzunok{
        margin: 0;
    }

    .whoHelpBlock>div:nth-child(2)>p{
        font-size: 10px;
        white-space: wrap;
    }

    .info{
        font-size: 10px;
    }
}

@media(max-width:480px){

    .whoHelpBlock{
        height: 450px;;
    }

    .whoHelpBlock>div:nth-child(2){
        height: auto;
        max-width: 85%;
    }

    .whoHelpBlock{
        width: 100%;
    }

    .whoHelpBlock2{
        flex-direction: row;
    }

    .whoHelpBlock2>h4{
        font-size: 14px;
        align-self: start;
    }

    .whoHelpBlock2>div{
        font-size: 14px;
        max-width: 120px;
    }

    .Polzunok{
        margin: 10px 0;
    }

    .whoHelpBlock>div:nth-child(2)>p{
        font-size: 14px;
    }

    .info{
        font-size: 14px;
    }
}

