#news{
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: #f5f7fc;
    padding: 100px 0;
    margin-bottom: -100px;
}

.newsContainer{
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
    margin-top: 100px;
}

.newsBlock{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
    border-radius: 4px;
}

.newsBlockImg{
    width: 100%;
}

.newsBlockImg>img{
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.newsContainer>div:nth-child(1)>h2{
    font-family: Manrope;
    font-size: 35px;
    text-align: center;
    line-height: 1.1;
}

.newsContainer>div:nth-child(1)>p{
    text-align: center;
    font-family: Manrope;
    font-size: 15px;
    text-align: center;
}

.newsBlockContainer{
    width: 100%;
    height: auto;
    border-radius: 4px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.newsBlockContainer>div:nth-child(2){
    display: flex;
    flex-direction: column;
    padding: 15px 20px 35px 25px;

}

.newsBlockContainer>div:nth-child(2)>h3{
    font-family: Manrope;
    font-size: 18px;
    line-height: 1.3;
    margin-top: 15px;
    font-weight: 500;
}


.newsBlockContainer>div:nth-child(2)>p{
    font-family: Manrope;
    font-size: 14px;
    color: rgb(89, 89, 89);
}

@media(max-width:1000px){
    .newsContainer{
        margin-top: 50px;
    }
}

@media(max-width:992px){
    .newsBlock{
        grid-template-columns: repeat(2,333px);
        justify-content: center !important;
    }

    .newsBlockContainer{
        max-width: 333px;
    }
}

@media(max-width:720px){
    .newsContainer>div:nth-child(1)>h2{
        font-size: 28px;
        line-height: 1.1;
    }
    .newsBlock{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .newsBlockContainer{
        max-width: 516px;
        
    }
}