#HomePage1 {
    width: 100%;
    background: linear-gradient(45deg, rgb(0, 66, 159), #04abff);
    margin-top: 200px;
}

.homePage1Container{
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.homePageBlock1{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.homePageBlock1>div>img{
    width: 250px;
}

.homePageBlock1>div{
    display: flex;
    gap: 5px;
}

.homePageBlock1>div>h2{
    color: white;
    font-family: Manrope;
    font-size: 35px;
    line-height: 1.1;
    z-index: 1;
}

.homePageBlock1>h3{
    color: white;
    font-family: Manrope;
    font-size: 16px;
    line-height: 1.2;
    z-index: 1;
}

.homePageBlock2{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.homePageBlock2>h2{
    font-family: Manrope;
    color: white;
    font-size: 30px;
    z-index: 1;
}

.homePageBlock2>input{
    max-width: 500px;
    width: 100%;
    height: 50px;
    border-radius: 8px;
    border: none;
    padding: 10px;
    font-family: Manrope;
    color: rgb(85, 85, 85);
    z-index: 1;
}

.inputMask{
    max-width: 500px;
    width: 100%;
    height: 50px;
    border-radius: 8px;
    border: none;
    padding: 10px;
    font-family: Manrope;
    color: rgb(85, 85, 85);
}

.homePageBlock2>button{
    max-width: 500px;
    width: 100%;
    height: 50px;
    border-radius: 8px;
    border: none;
    font-family: Manrope;
    background: linear-gradient(45deg, rgb(0, 145, 255), #207ced);
    color:white;
    cursor: pointer;
    transition: .3s ease;
}

.homePageBlock2>button:hover{
    background: linear-gradient(45deg, #207ced, rgb(0, 145, 255));
}

.homePageBlock2>p{
    color: white;
    font-family: Manrope;
    font-size: 14px;
}

@media(max-width:1000px){
    #HomePage1 {
        margin-top: 100px;
    }
}

@media(max-width:860px){
    .homePage1Container{
        flex-direction: column;
    }

    .homePageBlock1>div{
        flex-direction: column;
    }

    .homePageBlock1>div>img{
        position: absolute;
        z-index: 0;
        opacity: 0.7;
    }
}

@media(max-width:420px){
    .homePageBlock1>div>h2{
        font-size: 30px;
    }

    .homePageBlock1>h3{
        font-size: 14px;
    }

    .homePageBlock2>h2{
        font-size: 26px;
    }

    .homePageBlock2>input{
        height: 40px;
        font-size: 14px;
    }

    .homePageBlock2>button{
        font-size: 14px;
        height: 40px;
    }

    .homePageBlock2>p{
        font-size: 12px;
    }
}
