.whoHelpendContainer {
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
    margin-top: 200px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;
    padding: 40px 20px;
    background: #f8f8f8;
    border-radius: 6px;
}

.patientInfo {
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.134);
    padding: 20px;
    border-radius: 4px;
    background: #fafff7;
}

.patientName {
    font-size: 28px;
    font-weight: 500;
    color: #000000;
    line-height: 1;
}

.patientAge{
    font-size: 18px;

}

.diagnosis {
    font-size: 20px;
    color: #444;
}

.treatment {
    font-size: 20px;
    color: #222;
}

.tt{
    margin: 0;
}

.backButton {
    margin-top: 20px;
    padding: 15px 25px;
    background: #388e3c;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s;
}

.backButton:hover {
    background: #2e7d32;
}

@media (max-width: 1000px){
    .whoHelpendContainer{
        margin-top: 150px;
    }
}

@media (max-width: 668px) {
    .whoHelpendContainer{
        flex-direction: column;
    }
}

@media (max-width: 490px){
     .statusClosed{
        font-size: 16px;
     }

     .patientName{
        font-size: 22px;
     }
}
